{% extends "blank.html" %}
{% from "shared/macro.html" import render_field_error %}

{% set page_title = "重置密码" %}
{% set body_class = "page-register-v3 layout-full" %}

{% block styles %}
<link rel="stylesheet" href="{{ static_url('css/pages/register-v3.css') }}">
{% endblock %}

{% block body %}
<!-- Page -->
<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
     data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div class="brand">
                <img class="brand-img" src="{{ static_url('img/logo.png') }}" style="width:80px" alt="...">
                <h2 class="brand-text font-size-18">找回密码</h2>
            </div>
            <a type="button" href="{{ reverse_url('club_mobile_reset_password') }}"
               class="btn btn-primary btn-block btn-lg margin-top-40">
                手机
            </a>
            <a type="button" href="{{ reverse_url('club_reset_password_email') }}"
                class="btn btn-primary btn-block btn-lg margin-bottom-20">
                邮箱
            </a>
            <p><a href="{{ reverse_url('club_auth_login') }}">登录</a> 或 <a href="{{ reverse_url('club_auth_register') }}">注册</a></p>
        </div>
    </div>

    <footer class="page-copyright page-copyright-inverse">
        <p>© 2016 派队管家</p>
    </footer>
    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    (function(document, window, $){
        'use strict';

        var Site = window.Site;
        $(document).ready(function(){
            Site.run();
        });
    })(document, window, jQuery);
</script>
{% endblock %}
