{% extends "blank.html" %}
{% from "shared/macro.html" import render_field_error %}

{% set page_title = "重置密码" %}
{% set body_class = "page-register-v3 layout-full" %}

{% block styles %}
<link rel="stylesheet" href="{{ static_url('css/pages/register-v3.css') }}">
{% endblock %}

{% block body %}
<!-- Page -->
<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
     data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div class="brand">
                <img class="brand-img" src="{{ static_url('img/logo.png') }}" style="width:80px" alt="...">
                <h2 class="brand-text font-size-18">邮箱找回密码</h2>
            </div>
            <form method="post" action="#">
                {% include "shared/flashed_messages.html" %}
                <div class="form-group">
                    <label for="email" class="sr-only">注册邮箱</label>
                    <input type="text" name="email" id="email"
                           class="form-control" placeholder="注册邮箱">
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    发送
                </button>
            </form>
            <p><a href="{{ reverse_url('club_auth_login') }}">登录</a> 或 <a href="{{ reverse_url('club_auth_register') }}">注册</a></p>
        </div>
    </div>

    <footer class="page-copyright page-copyright-inverse">
        <p>© 2016 派队管家</p>
    </footer>
    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    (function(document, window, $){
        'use strict';

        var Site = window.Site;
        $(document).ready(function(){
            Site.run();
        });
    })(document, window, jQuery);
</script>
{% endblock %}
