{% extends "blank.html" %}
{% from "shared/macro.html" import render_field_error %}

{% set page_title = "重置密码" %}
{% set body_class = "page-register-v3 layout-full" %}

{% block styles %}
<link rel="stylesheet" href="{{ static_url('css/pages/register-v3.css') }}">
{% endblock %}

{% block body %}
<!-- Page -->
<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
     data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div class="brand">
                <img class="brand-img" src="{{ static_url('img/logo.png') }}" style="width:80px" alt="...">
                <h2 class="brand-text font-size-18">重置密码</h2>
            </div>
            <form method="post" action="#">
                {% include "shared/flashed_messages.html" %}
                <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    {{ form.email.label(class="sr-only") }}
                    {{ form.email(class="form-control", placeholder='注册邮箱') }}
                    {{ render_field_error(form.email)  }}
                </div>
                <div class="form-group" style="display: none">
                    {{ form.verify_code.label(class="sr-only") }}
                    {{ form.verify_code(class="form-control", style="display: none") }}
                </div>
                <div class="form-group {% if form.new_password.errors %}has-error{% endif %}">
                    {{ form.new_password.label(class='sr-only') }}
                    {{ form.new_password(class='form-control', placeholder='新密码') }}
                    {{ render_field_error(form.new_password) }}
                </div>
                <div class="form-group {% if form.confirmed_password.errors %}has-error{% endif %}">
                    {{ form.confirmed_password.label(class='sr-only') }}
                    {{ form.confirmed_password(class='form-control', placeholder='确认密码') }}
                    {{ render_field_error(form.confirmed_password) }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    确定
                </button>
            </form>
            <p><a href="{{ reverse_url('club_auth_login') }}">登录</a> 或 <a href="{{ reverse_url('club_auth_register') }}">注册</a></p>
        </div>
    </div>

    <footer class="page-copyright page-copyright-inverse">
        <p>© 2016 派队管家</p>
    </footer>
    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    (function(document, window, $){
        'use strict';

        var Site = window.Site;
        $(document).ready(function(){
            Site.run();
        });
    })(document, window, jQuery);
</script>
{% endblock %}
