{% extends "base.html" %}

{% set page_title = "账户信息" %}
{% set body_class = "page-account-profile" %}

{% block styles %}

{% endblock %}

{% block body %}
<div class="page">
  <div class="page-header">
    <h1 class="page-title">
      <i class="fa fa-cog title-icon" aria-hidden="true"></i>
      基本资料设置
    </h1>
  </div>
  <div class="page-content container-fluid">
    <div class="panel">
    <div class="panel-body">
      <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs nav-tabs-line">
          <li class="{% if tab_active == 'basic' %}active{% endif %}"><a href="{{ reverse_url('club_settings_basic') }}">基本资料</a></li>
          {%- if current_team.type == 0 -%}<li class="{% if tab_active == 'member' %}active{% endif %}"><a href="{{ reverse_url('club_settings_member') }}">会员设置</a></li>{%- endif -%}
          <li class="{% if tab_active == 'finance' %}active{% endif %}"><a href="{{ reverse_url('club_settings_finance') }}">财务设置</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="padding-top-25 col-sm-8">
              {% include "shared/flashed_messages.html" %}
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
