{% extends "base.html" %}

{% set page_title = "提现管理" %}
{% set body_class = "app-work" %}
{% set site_menu_active = "report" %}
{% set site_submenu_active = "cash_log" %}

{% block styles %}
<link rel="stylesheet" href="{{ static_url('css/pages/activity.css') }}">
{% endblock %}

{% block body %}
<div class="page" id="vue-app">
  <div class="page-header">
    <h1 class="page-title">提现管理</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="wb-home" aria-hidden="true"></i></a></li>
      <li class="active">提现管理</li>
    </ol>
    <div class="page-header-actions">
    </div>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <form action="" class="pull-left" id="search-form">
        <label class="form-inline">状态：
          <select name="state" class="form-control input-sm">
            <option value="-1">全部</option>
            <option value="0" {% if handler.get_argument('state', '0') == '0'%}selected="selected"{% endif %}>等待处理</option>
            <option value="5" {% if handler.get_argument('state', '0') == '5'%}selected="selected"{% endif %}>正在处理</option>
            <option value="10" {% if handler.get_argument('state', '0') == '10'%}selected="selected"{% endif %}>提现成功</option>
            <option value="20" {% if handler.get_argument('state', '0') == '20'%}selected="selected"{% endif %}>提现失败</option>
          </select>
        </label>
        </form>

        <form class="panel-search-form pull-right" role="search">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="kw" value="{{ handler.get_argument('kw', '') }}" placeholder="搜索">
            <!-- <i class="icon wb-loop"></i> -->
          </div>
        </form>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>俱乐部</th>
              <th>提现金额</th>
              <th>账号类型</th>
              <th>账号名</th>
              <th>账号</th>
              <th>申请时间</th>
              <th>完成时间</th>
              <th>状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            {% for cash_log in cash_logs %}
            <tr id="item-{{ cash_log.id }}">
              <td>
                <a href="#">{{ cash_log.team.name }}</a>
              </td>
              <td>
                  {{ cash_log.amount }}
              </td>
              <td>
                  {{ cash_log.cash_account_type }}
              </td>
              <td>{{ cash_log.cash_name }}</td>
              <td>{{ cash_log.cash_account }}</td>
              <td>
                {{ cash_log.created }}
              </td>
              <td>
                {{ cash_log.paid or "-" }}
              </td>
              <td>
                <span class="label label-primary">{{ cash_log.state_name }}</span>
              </td>
              <td class="text-center">
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon wb-menu" ></i></a>
                  <ul class="dropdown-menu dropdown-menu-primary" role="menu">
                    <li role="presentation"><a href="#" role="menuitem" @click="finish({{cash_log.id}})" >标记已处理</a></li>
                    <li class="divider" role="presentation"></li>
                    <li role="presentation">
                        <a href="#">关闭</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        {{ render_pagination(cash_logs.pagination) }}
      </div>
    </div> <!-- panel-body end -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
(function(){
    alertify.theme("bootstrap");
    var app = new Vue({
        el: "#vue-app",
        data: function() {
            return {
                user_id: 0,
                group_name: "",
                groups: [],
                error: ""
            }
        },
        created: function(){
        },
        ready: function(){
            var Site = window.Site;
            Site.run()
            
            $("#search-form select").change(function(){
                $(this).parents("form").submit();
            });
        },
        methods: {
            finish: function(logid){
                var self = this
                
                if(!confirm("确认已经打款？")) 
                    return

                $.post("{{ reverse_url('admin_cash_applies')}}", {action:"finish", logid: logid}, 
                function(data){
                    location.reload()
                }, "json").fail(function(e){
                    console.log(e.responseJSON)
                    var error = e.responseJSON
                    self.error = error['error']
                })
            }
        }
    })
})();
</script>
{% endblock %}