{% extends "account/layout.html" %}

{% set tab_active = "change_email" %}

{% block content %}
{% from "shared/macro.html" import render_field, render_field_error with context %}
<form method="post" autocomplete="off">
    <div class="form-group">
        <label>当前邮箱</label>
        <p class="form-control-static">{{ current_user.email }}</p>
    </div>
    <div class="form-group">
        {{ render_field(form.password) }}
        {{ render_field_error(form.password) }}
    </div>
    <div class="form-group">
        {{ render_field(form.new_email) }}
        {{ render_field_error(form.new_email) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function(document, window, $){
            'use strict';

            var Site = window.Site;
            $(document).ready(function(){
                Site.run();
            });
        })(document, window, jQuery);
    </script>
{% endblock %}