{% extends "base.html" %}

{% set page_title = "发布比赛" %}
{% set body_class = "page-account-profile" %}
{% set site_menu_active = "match" %}
{% set site_submenu_active = "create" %}

{% block body %}
<div class="page" id="vue-app">
  <div class="page-header">
    <h1 class="page-title">发布比赛</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="wb-home" aria-hidden="true"></i></a></li>
      <li><a href="{{ reverse_url('club_matches') }}">赛事管理</a></li>
      <li class="active">发布比赛</li>
    </ol>
  </div>
  <div class="page-content container-fluid">
    <div class="panel">
      <div class="panel-body">
        {% include "match/form.html" with context %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% include "match/form_scripts.html" with context %}
{% endblock %}
