{% extends "base.html" %}

{% set page_title = "赛事管理" %}
{% set body_class = "app-work" %}
{% set site_menu_active = "match" %}
{% set site_submenu_active = "settlement_application" %}

{% block styles %}
<link rel="stylesheet" href="{{ static_url('css/pages/activity.css') }}">
{% endblock %}

{% block body %}
<div class="page">
  <div class="page-header">
    <h1 class="page-title">赛事管理</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="wb-home" aria-hidden="true"></i></a></li>
      <li class="active">结算申请</li>
    </ol>
    <div class="page-header-actions">
    </div>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>赛事名称</th>
              <th>申请时间</th>
              <th>申请用户</th>
              <th>状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
              {% for application in applications %}
              <tr>
                  <td>{{ application.match.title }}</td>
                  <td>{{ application.created }}</td>
                  <td>{{ application.user.name }}</td>
                  <td>{{ application.processing_state_name }}</td>
                  <td class="text-center">
                      {% if application.is_requesting() %}
                      <a class="btn btn-xs btn-success btn-action" href="#" data-id="{{ application.id }}" data-url="{{ reverse_url('admin_settlement_applications_action') }}" data-action="approve" role="menuitem" data-confirm="确定同意提现？", data-success="批准体现成功">同意</a>
                      <a class="btn btn-xs btn-danger btn-action" href="#" data-id="{{ application.id }}" data-url="{{ reverse_url('admin_settlement_applications_action') }}" data-action="disapprove" role="menuitem" data-confirm="确定拒绝提现申请？", data-success="拒绝成功">拒绝</a>
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
      </div>
    </div> <!-- panel-body end -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
(function(document, window, $){
    'use strict';
    var is_mobile = !!(navigator.userAgent.match(/Mobile/i));
    var Site = window.Site;

    $(".btn-action").click(function(){
      var id = $(this).data("id"),
          action_url = $(this).data("url"),
          confirm_msg = $(this).data("confirm"),
          success_msg = $(this).data("success"),
          action = $(this).data("action");

        alertify.okBtn("确定")
          .cancelBtn("放弃")
          .confirm(confirm_msg, function () {
            $.post(action_url, {"action": action, "id": id}, function(data){
              if("status" in data && data['status'] == "ok") {
                toastr.success(success_msg, "", {
                  "positionClass": "toast-top-center",
                  "timeOut": 1000
                });

                setTimeout(function(){
                  location.reload();
                }, 1100);
              }
            }, "json").fail(function(e){
              console.log(e);
            });
        }, function() {
            // user clicked "cancel"
        });
    }); 

 })(document, window, jQuery);
 </script>
{% endblock %}

